.card-grid {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

@media (max-width: 768px) {
  .card-grid {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center !important;
  }
}
