.card {
  /* display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 250px;
  border-radius: 8px;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  padding: 0; */

  display: flex;
  flex-direction: column;
  align-items: center;
  width: calc(100% / 3 - 60px);
  margin: 10px;
  padding: 20px;
  box-shadow: 2px 2px 16px 0px rgba(0, 0, 0, 0.1);
  border-radius: 15px;
  background-color: white;
  transition: all 0.5s ease;
}

.card:hover {
  transform: scale(1.1);
  z-index: 1;
}

.card img {
  width: 35%;
  height: auto;
  border-radius: 5px;
}

button {
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  color: white;
}
.button-edit {
  background-color: green;
  margin-right: 3px;
  cursor: pointer;
}

.button-delete {
  background-color: red;
  margin-left: 3px;
  cursor: pointer;
}
span {
  margin-bottom: 4px;
}

@media (max-width: 768px) {
  .card {
    width: 100%;
  }

  .card img {
    width: 35%;
  }
}

@media (max-width: 600px) {
  .card {
    width: 35%;
  }

  .card img {
    width: 35%;
  }
}

@media (min-width: 600px) and (max-width: 900px) {
  .card {
    width: 50%;
  }

  .card img {
    width: 35%;
  }
}

@media (min-width: 900px) {
  .card {
    width: 250px;
  }

  .card img {
    width: 40%;
    height: auto;
  }
}
